<mat-tab-group>
  <mat-tab label="Ecuador">
    <div>
      <p>
        <strong>Nombre del pais:</strong> Ecuador
      </p>
      <p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Bandera_del_Ecuador.svg/320px-Bandera_del_Ecuador.svg.png">
      </p>
      <h3>Datos Generales</h3>
      <p>
        Ecuador, oficialmente la República del Ecuador, es un país soberano ubicado en la región 
        noroccidental de América del Sur, compuesto por veinticuatro provincias. Limita al norte 
        con Colombia, al sur y al este con Perú y al oeste con el océano Pacífico, el cual lo 
        separa de las islas Galápagos por miles de kilómetros entre la península de Santa Elena
        y la isla San Cristóbal. Por medio de su mar territorial correspondiente a las Islas Galápagos,
         también posee límites marítimos con Costa Rica14​. Una sección volcánica de la cordillera de 
         los Andes divide el territorio de norte a sur, dejando a su flanco occidental el golfo de 
         Guayaquil y una llanura boscosa, y al oriente, la Amazonia. El Ecuador ocupa un área 
         de 256 370 km²5​. Es el décimo país más poblado de América, con algo más de diecisiete 
         millones de habitantes, el más densamente poblado de América del Sur15​ y el quinto más 
         densamente poblado en toda América.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Argentina">
    <div>
      <p>
        <strong>Nombre del pais:</strong> Argentina
      </p>
      <p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/320px-Flag_of_Argentina.svg.png">
      </p>
      <h3>Datos Generales</h3>
      <p>
        Argentina, oficialmente República Argentina,e​ es un país soberano de América del Sur, ubicado en el extremo sur y sudeste de dicho subcontinente. Adopta la forma de gobierno republicana, democrática, representativa y federal.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Chile">
    <div>
      <p>
        <strong>Nombre del pais:</strong> Chile
      </p>
      <p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/320px-Flag_of_Chile.svg.png">
      </p>
      <h3>Datos Generales</h3>
      <p>
        Chile, oficialmente República de Chile,21​ es un país ubicado en América del Sur. Su capital es la ciudad de Santiago.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Uruguay">
    <div>
      <p>
        <strong>Nombre del pais:</strong> Uruguay
      </p>
      <p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/320px-Flag_of_Uruguay.svg.png">
      </p>
      <h3>Datos Generales</h3>
      <p>
        Uruguay, oficialmente República Oriental del Uruguay, es un país de América del Sur, situado en la parte oriental del Cono Sur. Limita al noreste con Brasil —estado de Río Grande del Sur—, al oeste y suroeste con Argentina —provincias de Entre Ríos, Corrientes, Buenos Aires y la Ciudad Autónoma de Buenos Aires— y tiene costas en el océano Atlántico por el sur. Abarca 176 215 km² y es el segundo país más pequeño de Sudamérica, después de Surinam
      </p>
    </div>
  </mat-tab>
</mat-tab-group>